.titulo-form{
    background-color: #363636;
    color: aliceblue;
}

.subtitulos{
    display: flex;
    text-align: center;
    width: 130px;
    height: 33.5px;
    padding: 3px;
    margin: 0px;
    border: 1px solid #363636;
    border-radius: 4px;
    background-color: #57abff;
}

Form{
    align-items: center;
    margin: 0px auto;
    width: 80%;
    padding: 10px;
    border: 2px solid black;
}

.form-label{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}